.grid_6
	.case
	.mob
		.header
			.logo sdmv
		.body
			.title
				The
				.key.key1#title_keyword1.inline 
				.key.key2#title_keyword2.inline
				Group
			.starting
				.start.inline 
					Starting in
					%b 
						%span#starts_in
			.location
				.venue.inline
					%b 1.1
					miles away
			.small 
				%b @ Venue #
				%span#max_venue
		.stats
			%table
				%tr
					%td.chart
					
					%td.details
						%table
							%tr
								%td.half.tright.pad
									%b interest:
								%td.half.tleft
									%span#avg_int
							%tr
								%td.tright.pad
									%b influence:
								%td.tleft
									%span#avg_influence
							%tr
								%td.tright.pad
									.possatt.inline 
										%b not likely: 
								%td.tleft
									1
							%tr
								%td.tright.pad
									.possatt.inline 
										%b likely:
								%td.tleft
									2
							%tr
								%td.tright.pad
									.possatt.inline 
										%b joined:
								%td.tleft
									0