#task
	%table.full.tasklist
		%tr.requirement
			%td{:colspan => "1"} 1
			%td{:colspan => "1"} Open
			%td{:colspan => "3"}
				%b.userstory Person & Venue Chart
		%tr
			%th ID
			%th Status
			%th Tasks
			%th Tasked
			%th Entered
		%tr.open
			%td 1.1
			%td.indicator Open
			%td Tie together Person X,Y Location Attributes with Dynamic HighCharts Data
			%td @dennischan
			%td May 18, 2015
		%tr.open
			%td 1.2
			%td.indicator Open
			%td Tie together headerFormat: '<b>{series.name}</b>' to be Person Identifier i.e. Person #1
			%td @dennischan
			%td May 18, 2015
		%tr.requirement
			%td{:colspan => "1"} 2
			%td{:colspan => "1"} Open
			%td{:colspan => "3"}
				%b.userstory Summary of Action
		%tr.open
			%td 2.1
			%td.indicator Open
			%td Add Number of Attending based on their Interest Score
			%td @dennischan
			%td May 18, 2015
		%tr.requirement
			%td{:colspan => "1"} 3
			%td{:colspan => "1"} Open
			%td{:colspan => "3"}
				%b.userstory General Calculations
		%tr.open
			%td 3.1
			%td.indicator Open
			%td 
				Could you make the Calculation Update a bit stronger? (for example, If I update a Person Keywords 
				%br
				it updates INT LVL & Venue INT, but if I update Social Keywords, it doesn’t update Person INT LVL & Venue INT)
			%td @dennischan
			%td May 18, 2015
		%tr.open
			%td 3.2
			%td.indicator Open
			%td Check INT calculations on Venues for each Person 
			%td @dennischan
			%td May 18, 2015