.container_12
	.grid_12
		%h1 SDMV
		%hr
	.grid_12
		%h2 
			.key1.inline Nepal 
			.key2.inline Earthquake 
			.start.inline 
				%b @:
				12
			.venue.inline
				%b @:
				Venue #2
			.inflvl.inline 
				%b INF:
				300
			.intlvl.inline
				%b INT:
				80%
		.note Take Top Keyword 1 + Top Keyword 2 from News & Social, and find the average value between Availability, and choose Venue with highest weight, and show average of influence and interest levels.
		%hr
	.grid_3
		%h2 News
		.box
			%h3 News Source #1
			%textarea#news.news{} Nepal earthquake: Death toll passes 4,800 as rescuers face challenges. More than 4,800 people dead. More than 9,200 injured. Eight million affected across Nepal. One million children urgently in need of help. Those are the startling numbers that indicate the scale of the devastation from the huge earthquake that struck the Himalayan nation on Saturday.
			%h3 Exclusions
			%textarea#exclusion.social{}the, and, those, are, that
			%h4 Top 5 Keywords by Density
			%ul#news_result
				/ %li Nepal (6)
				/ %li Earthquake (4)
				/ %li Help (3)
				/ %li Dead (2)
				/ %li Affected (2)
			.note Calculate the top 5 keywords from the textarea above, excluding the exclusion list.
	.grid_3
		%h2 Social
		.box
			%h3 Social Source - TimeStamp #1
			%textarea#social.social{} nepal, nepal, nepal, earthquake, earthquake
			%h4 Top 5 Keywords by Density
			%ul#social_result
				/ %li Nepal (3)
				/ %li Earthquake (2)
				/ %li Help (0)
				/ %li Dead (0)
				/ %li Affected (0)
			%p.sum
				%span#social_news_comp Social / News Keyword Comp = 10%
			.note Calculate the top 5 keywords from the textarea above, and compare the similarity between News Keywords and Social Keywords
	.grid_3
		%h2 Person
		.box
			%h3 Person #1
			%h4 Location (X,Y)
			%input#person_location_x1.loc.numeric{:value => "x"}
			%input#person_location_y1.loc.numeric{:value => "y"}
			%br
			.note Allow for any number: for example 100.5 or -100.5 to be entered into the X,Y Location Fields
			%h4 Influence (higher is better)
			%input#influence1.requirement.numeric{:value => "500"}
			.note Allow for any number: for example 100.5 or -100.5 to be entered into the Influence Field
			%h4 Availability Range
			%input.time.numeric{:value => "9"}
			%input.time.numeric{:value => "18"}
			%br
			.note Allow for any number: for example 100.5 or -100.5 to be entered into the Availability Field
			%hr
			%h4 Keywords
			%input#person_keywords1.requirement{:value => "nepal, earthquake"}
			%p.sum
				| INT LVL = 
				%span#person_int_lvl1 100
				%span %
			.note Compare the similarity between Social and Person Keywords
		.box
			%h3 Person #2
			%h4 Location (X,Y)
			%input#person_location_x2.loc.numeric{:value => "x"}
			%input#person_location_y2.loc.numeric{:value => "y"}
			%h4 Influence (higher is better)
			%input#influence2.requirement{:value => "500"}
			%h4 Availability Range
			%input.time.numeric{:value => "12"}
			%input.time.numeric{:value => "13"}
			%hr
			%h4 Keywords
			%input#person_keywords2.requirement{:value => "japan, earthquake"}
			%p.Sum
				| INT LVL = 
				%span#person_int_lvl2 50
				%span %
		.box
			%h3 Person #3
			%h4 Location (X,Y)
			%input#person_location_x3.loc.numeric{:value => "x"}
			%input#person_location_y3.loc.numeric{:value => "y"}
			%h4 Influence (higher is better)
			%input#influence3.requirement.numeric{:value => "500"}
			%h4 Availability Range
			%input.time.numeric{:value => "9"}
			%input.time.numeric{:value => "18"}
			%hr
			%h4 Keywords
			%input#person_keywords3.requirement{:value => "japan"}
			%p.sum
				| INT LVL = 
				%span#person_int_lvl3 0
				%span %
	.grid_3
		%h2 Venue
		.box
			%h3 Venue #1
			%h4 Location (X,Y)
			%input#venue_x1.loc.numeric{:value => "x"}
			%input#venue_y1.loc.numeric{:value => "y"}
			%br
			.note Allow for any number for example 100.5 or -100.5 to be entered into the X,Y fields
			%table.full.list
				%tr
					%th Person
					%th DIST
					%th INT
					%th INF
					%th VAL
				%tr
					%td Person #1
					%td 2.8
					%td .5
					%td#venue1_influence1 100
					%td 10.0
				%tr
					%td Person #2
					%td 1.0
					%td .2
					%td#venue1_influence2 200
					%td 4.4
				%tr
					%td Person #3
					%td 8.5
					%td .1
					%td#venue1_influence3 500
					%td 38.5
				%tr.sum
					%td 
					%td 12.3
					%td 
					%td 
					%td 52.9
			.note 
				%b DIST 
				= "Calculate Distance Between Person & Venue =SQRT((VenueX-PersonX)^2+(VenueY-PersonY)^2)"
				%br
				%b INT 
				Show the interest value of each person
				%br
				%b INF
				Show the influence value of each person
				%br
				%b VAL
				= "Calculate Value by (INT * INF)/DIST"
				And Showcase the Sum of DIST and VAL
		.box
			%h3 Venue #2
			%h4 Location (X,Y)
			%input#venue_x2.loc.numeric{:value => "x"}
			%input#venue_y2.loc.numeric{:value => "y"}
			%table.full.list
				%tr
					%th Person
					%th DIST
					%th INT
					%th INF
					%th VAL
				%tr
					%td Person #1
					%td 1
					%td .5
					%td#venue2_influence1 100
					%td 50.0
				%tr
					%td Person #2
					%td 5
					%td .2
					%td#venue2_influence2 200
					%td 8
				%tr
					%td Person #3
					%td 9
					%td .1
					%td#venue2_influence3 500
					%td 55.6
				%tr.sum
					%td 
					%td 10
					%td 
					%td 
					%td 113.6
		.box
			%h3 Venue #3
			%h4 Location (X,Y)
			%input#venue_x3.loc.numeric{:value => "x"}
			%input#venue_y3.loc.numeric{:value => "y"}
			%table.full.list
				%tr
					%th Person
					%th DIST
					%th INT
					%th INF
					%th VAL
				%tr
					%td Person #1
					%td 3
					%td .5
					%td#venue3_influence1 100
					%td 16.7
				%tr
					%td Person #2
					%td 7
					%td .2
					%td#venue3_influence2 200
					%td 5.7
				%tr
					%td Person #3
					%td 11
					%td .1
					%td#venue3_influence3 500
					%td 45.5
				%tr.sum
					%td 
					%td 10
					%td 
					%td 
					%td 67.8