.container_12.service
	.grid_12
		%h1 SDMV
		%hr
		/
			comment here
	.grid_6
		INT LVL needs to be greater than:
		%br
		%input{:value => ".1"} 
		%br
		to = Possibly Attending
		%hr
		INT LVL needs to be greater than:
		%br
		%input{:value => ".5"} 
		%br
		to = Probably Attending
		%hr
		If Probably of Attending # is Greater than
		%br
		%input{:value => "2"}
		%br
		Then Push = 
		%b TRUE
		%hr
		If Push = TRUE, then display
		%br
		.btn Push Notice
		%br
		.notice Push Notification Sent
	.grid_6
		#container{:style => "height: 320px; margin: 0 auto;"}
	.grid_6
		.case
		.mob
			.header
				.logo sdmv
			.body
				.title
					The
					.key.key1#title_keyword1.inline 
					.key.key2#title_keyword2.inline
					Group
				.starting
					.start.inline 
						Starting in
						%b 
							%span#avg_availability 1:18:23
				.location
					.venue.inline
						%b 1.1
						miles away
				.small 
					%b @ Venue #
					%span#max_venue
			.stats
				%table
					%tr
						%td.chart
						
						%td.details
							%table
								%tr
									%td.half.tright.pad
										%b interest:
									%td.half.tleft
										%span#avg_int
								%tr
									%td.tright.pad
										%b influence:
									%td.tleft
										%span#avg_influence
								%tr
									%td.tright.pad
										.possatt.inline 
											%b not likely: 
									%td.tleft
										1
								%tr
									%td.tright.pad
										.possatt.inline 
											%b likely:
									%td.tleft
										2
								%tr
									%td.tright.pad
										.possatt.inline 
											%b joined:
									%td.tleft
										0
	.grid_12
		.note Take Top Keyword 1 + Top Keyword 2 from News & Social, and find the average value between Availability, and choose Venue with highest weight, and show average of influence and interest levels.
		%hr
	.grid_3
		%h2 News
		.box
			%h3 News Source #1
			%textarea#news.news{} Nepal earthquake Death toll passes 4,800 as rescuers in nepal face challenges. More than 4,800 people dead. More than 9,200 injured. Eight million affected across Nepal. One million children urgently in need of help. Those are the startling numbers that indicate the scale of the devastation from the huge earthquake that struck the Himalayan nation on Saturday.
			%h3 Exclusions
			%textarea#exclusion.social{}the,and,those,are,that,of,more,than,.,in,more,are,on,a,to,as,1,2,3,4,5,6,7,8,9,0
			%h4 Top 5 Keywords by Density
			%ul#news_result
				/ %li Nepal (6)
				/ %li Earthquake (4)
				/ %li Help (3)
				/ %li Dead (2)
				/ %li Affected (2)
			.note Calculate the top 5 keywords from the textarea above, excluding the exclusion list.
	.grid_3
		%h2 Social
		.box
			%h3 Social Source - TimeStamp #1
			%textarea#social.social{} nepal,nepal,nepal,earthquake,earthquake
			%h4 Top 5 Keywords by Density
			%ul#social_result
				/ %li Nepal (3)
				/ %li Earthquake (2)
				/ %li Help (0)
				/ %li Dead (0)
				/ %li Affected (0)
			%p.sum
				%span#social_news_comp Social / News Keyword Comp = 0%
			.note Calculate the top 5 keywords from the textarea above, and compare the similarity between News Keywords and Social Keywords
	.grid_3
		%h2 Person
		.box
			%h3 Person #1
			%h4 Location (X,Y)
			%input#person_location_x1.loc.numeric{:value => "1"}
			%input#person_location_y1.loc.numeric{:value => "2"}
			%br
			.note Allow for any number: for example 100.5 or -100.5 to be entered into the X,Y Location Fields
			%h4 Influence (higher is better)
			%input#influence1.requirement.numeric{:value => "500"}
			.note Allow for any number: for example 100.5 or -100.5 to be entered into the Influence Field
			%h4 Availability Range
			%input#person1_availability_min.time{:value => "4"}
			%input#person1_availability_max.time{:value => "6"}
			%br
			.note Allow for any number: for example 100.5 or -100.5 to be entered into the Availability Field
			%hr
			%h4 Keywords
			%input#person_keywords1.requirement{:value => "nepal, earthquake"}
			%p.sum
				INT LVL = 
				%span#person_int_lvl1 0
				%span %
			.note Compare the similarity between Social and Person Keywords
			.notice Push Notification Received
			.add + Join
		.box
			%h3 Person #2
			%h4 Location (X,Y)
			%input#person_location_x2.loc.numeric{:value => "2"}
			%input#person_location_y2.loc.numeric{:value => "2"}
			%h4 Influence (higher is better)
			%input#influence2.requirement{:value => "500"}
			%h4 Availability Range
			%input#person2_availability_min.time{:value => "5"}
			%input#person2_availability_max.time{:value => "6"}
			%hr
			%h4 Keywords
			%input#person_keywords2.requirement{:value => "japan, earthquake"}
			%p.sum
				INT LVL = 
				%span#person_int_lvl2 0
				%span %
			.notice Push Notification Received
			.add + Join
		.box
			%h3 Person #3
			%h4 Location (X,Y)
			%input#person_location_x3.loc.numeric{:value => "3"}
			%input#person_location_y3.loc.numeric{:value => "2"}
			%h4 Influence (higher is better)
			%input#influence3.requirement.numeric{:value => "500"}
			%h4 Availability Range
			%input#person3_availability_min.time{:value => "4"}
			%input#person3_availability_max.time{:value => "7"}
			%hr
			%h4 Keywords
			%input#person_keywords3.requirement{:value => "japan"}
			%p.sum
				INT LVL = 
				%span#person_int_lvl3 0
				%span %
			.notice Push Notification Received
			.add + Join
	.grid_3
		%h2 Venue
		.box
			%h3 Venue #1
			%h4 Location (X,Y)
			%input#venue_x1.loc.numeric{:value => "2"}
			%input#venue_y1.loc.numeric{:value => "1"}
			%br
			.note Allow for any number for example 100.5 or -100.5 to be entered into the X,Y fields
			%table.full.list
				%tr
					%th Person
					%th DIST
					%th INT
					%th INF
					%th VAL
				%tr
					%td Person #1
					%td#venue1_dist1 2.8
					%td#venue1_int1 .5
					%td#venue1_influence1 100
					%td#venue1_val1 10.0
				%tr
					%td Person #2
					%td#venue1_dist2 1.0
					%td#venue1_int2 .2
					%td#venue1_influence2 200
					%td#venue1_val2 4.4
				%tr
					%td Person #3
					%td#venue1_dist3 8.5
					%td#venue1_int3 .1
					%td#venue1_influence3 500
					%td#venue1_val3 38.5
				%tr.sum
					%td 
					%td#venue_dist_sum1 12.3
					%td 
					%td 
					%td#venue_val_sum1 52.9
			.note 
				%b DIST 
				= "Calculate Distance Between Person & Venue =SQRT((VenueX-PersonX)^2+(VenueY-PersonY)^2)"
				%br
				%b INT 
				Show the interest value of each person
				%br
				%b INF
				Show the influence value of each person
				%br
				%b VAL
				= "Calculate Value by (INT * INF)/DIST"
				And Showcase the Sum of DIST and VAL
		.box
			%h3 Venue #2
			%h4 Location (X,Y)
			%input#venue_x2.loc.numeric{:value => "2"}
			%input#venue_y2.loc.numeric{:value => "2"}
			%table.full.list
				%tr
					%th Person
					%th DIST
					%th INT
					%th INF
					%th VAL
				%tr
					%td Person #1
					%td#venue2_dist1 1
					%td#venue2_int1 .5
					%td#venue2_influence1 100
					%td#venue2_val1 50.0
				%tr
					%td Person #2
					%td#venue2_dist2 5
					%td#venue2_int2 .2
					%td#venue2_influence2 200
					%td#venue2_val2 8
				%tr
					%td Person #3
					%td#venue2_dist3 9
					%td#venue2_int3 .1
					%td#venue2_influence3 500
					%td#venue2_val3 55.6
				%tr.sum
					%td 
					%td#venue_dist_sum2 10
					%td 
					%td 
					%td#venue_val_sum2 113.6
					
		.box
			%h3 Venue #3
			%h4 Location (X,Y)
			%input#venue_x3.loc.numeric{:value => "1"}
			%input#venue_y3.loc.numeric{:value => "2"}
			%table.full.list
				%tr
					%th Person
					%th DIST
					%th INT
					%th INF
					%th VAL
				%tr
					%td Person #1
					%td#venue3_dist1 3
					%td#venue3_int1 .5
					%td#venue3_influence1 100
					%td#venue3_val1 16.7
				%tr
					%td Person #2
					%td#venue3_dist2 7
					%td#venue3_int2 .2
					%td#venue3_influence2 200
					%td#venue3_val2 5.7
				%tr
					%td Person #3
					%td#venue3_dist3 11
					%td#venue3_int3 .1
					%td#venue3_influence3 500
					%td#venue3_val3 45.5
				%tr.sum
					%td 
					%td#venue_dist_sum3 10
					%td 
					%td 
					%td#venue_val_sum3 67.8
	.grid_12
		= render :partial => 'shared/tasks'
